<div class="navbar">
  <div class="navbar-grid">
      <div class="navbar-links">
          <a href="'/home'">Home</a>                
          <a href="'/displayQuestions'">Curious</a>
          <a href="'/register'">Registration</a>
          <a href="'/questions'">Ask a question</a>
          <a href="'/adminTools'">Admin Tools</a>
      </div>
      <div class="navbar-search">
          <input type="text" placeholder="Search">
          <button type="submit">🔍</button>
      </div>
  </div>
</div>

<div class="post">
  <div class="post-title">Post Title</div>
  <div class="post-username">Posted by: username</div>
  <div class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque scelerisque eros nec augue tincidunt, a vulputate magna commodo.</div>
  <div class="post-actions">
    <button class="edit-button">Edit</button>
    <button class="delete-button">Delete</button>
    <button class="view-button">View</button>
  </div>
</div>
<div class="footer">
  © 2024 Buzz Brains Blog
  </div>
