

<div class="dq-answers">
  <h1>Dear Curious Cat, here are questions, that have been answered previously.</h1>
</div>

<!--display questions from database with answers -->
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mb-4" *ngFor="let quest of question">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Title: {{ quest.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Category: {{ quest.categories }}</h6>
            <p class="card-text">Question: {{ quest.question }}</p>
            <hr>
            <p class="card-text"><strong>Author:</strong> {{ quest.author }}</p>
            <div class="d-flex justify-content-between">
              <p class="card-text mb-0"><strong>Upvotes:</strong> {{ quest.upvotes }}</p>
              <p class="card-text mb-0"><strong>Date:</strong> {{ quest.date }}</p>
            </div>
            <p class="card-text mt-2">
              <strong>Answered:</strong>
              <span class="badge" [ngClass]="{'bg-success': quest.answered, 'bg-danger': !quest.answered}">
                {{ quest.answered ? 'Yes' : 'No' }}
              </span>
            </p>
           <!-- <a [routerLink]="['/question', quest.id]" class="btn btn-primary">Read More</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!--display questions from database with answers-->

<div class="footer">
  © 2024 Buzz Brains Blog
</div>