<div *ngIf="currentQuestionIndex < questions.length" class="white-text">
  <h2 class="white-text">Question {{ currentQuestionIndex + 1 }}</h2>
  <p class="white-text">{{ questions[currentQuestionIndex].question }}</p>
  <div *ngFor="let option of questions[currentQuestionIndex].options; let i = index">
    <input type="radio" name="option{{ currentQuestionIndex }}" [value]="i" (change)="selectOption(i)">
    <label class="white-text">{{ option }}</label>
  </div>
  <button *ngIf="currentQuestionIndex < questions.length - 1" (click)="nextQuestion()" class="white-text black">Next Question</button>
  <button *ngIf="currentQuestionIndex === questions.length - 1" class="white-text">Send</button>
</div>
