
<div class="welcome-message">
    <h1>Welcome to Buzz Brains Blog</h1>
    <a [routerLink]="'/displayQuestions'" class="button-welcome">Looking for answers ?? </a>
</div>

<div class="diy-container" >
    <h1 class="diy-container-h1">Frequently Asked Questions</h1>
    <div class="diy-question" *ngFor="let question of DIYQuestions; let idx = index" (click)="showAnswer(idx)">
      <h3 class="question">{{question.question}}</h3>
      <div class="answer" [ngClass]="{'hidden': question.answerHidden}">
        <p>{{question.answer}}</p>
      </div>
    </div>
</div>

<div class="footer">
    © 2024 Buzz Brains Blog
    </div>