<nav>
    <div class="navbar">
        <div class="navbar-grid">
            <div class="navbar-links">                       
              <a [routerLink]="'/home'">Home</a>  
              <a [routerLink]="'/displayQuestions'">Curious</a>
              <a [routerLink]="'/register'">Registration</a>
              <a [routerLink]="'/questions'">Ask a question</a>
              <a [routerLink]="'/adminTools'">Admin Tools</a>
            </div>
            <div class="navbar-search">
                <input type="text" placeholder="Search">
                <button type="submit">🔍</button>
            </div>
        </div>
      </div>
  </nav>
  